To create a new environment
python3 -m venv your_foldername_here
Activate

cd your_foldername_here
source bin/activate
Deactivate

deactivate

Package                      Version     Location                                                            Installer
---------------------------- ----------- ------------------------------------------------------------------- ---------
absl-py                      2.1.0       d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
astunparse                   1.6.3       d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
attrs                        25.1.0      d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
certifi                      2025.1.31   d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
cffi                         1.17.1      d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
charset-normalizer           3.4.1       d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
contourpy                    1.3.1       d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
cycler                       0.12.1      d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
flatbuffers                  25.2.10     d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
fonttools                    4.56.0      d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
gast                         0.6.0       d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
google-pasta                 0.2.0       d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
grpcio                       1.70.0      d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
h5py                         3.12.1      d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
idna                         3.10        d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
jax                          0.5.0       d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
jaxlib                       0.5.0       d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
joblib                       1.4.2       d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
keras                        3.8.0       d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
kiwisolver                   1.4.8       d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
libclang                     18.1.1      d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
Markdown                     3.7         d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
markdown-it-py               3.0.0       d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
MarkupSafe                   3.0.2       d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
matplotlib                   3.10.0      d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
mdurl                        0.1.2       d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
mediapipe                    0.10.21     d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
ml-dtypes                    0.4.1       d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
namex                        0.0.8       d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
numpy                        1.26.4      d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
opencv-contrib-python        4.11.0.86   d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
opencv-python                4.11.0.86   d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
opt_einsum                   3.4.0       d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
optree                       0.14.0      d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
packaging                    24.2        d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
pillow                       11.1.0      d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
pip                          21.2.3      d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
protobuf                     4.25.6      d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
pycparser                    2.22        d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
Pygments                     2.19.1      d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
pyparsing                    3.2.1       d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
python-dateutil              2.9.0.post0 d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
requests                     2.32.3      d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
rich                         13.9.4      d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
scikit-learn                 1.6.1       d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
scipy                        1.15.1      d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
sentencepiece                0.2.0       d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
setuptools                   57.4.0      d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
six                          1.17.0      d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
sounddevice                  0.5.1       d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
tensorboard                  2.18.0      d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
tensorboard-data-server      0.7.2       d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
tensorflow                   2.18.0      d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
tensorflow_intel             2.18.0      d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
tensorflow-io-gcs-filesystem 0.31.0      d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
tensorflow_keras             0.1         d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
termcolor                    2.5.0       d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
threadpoolctl                3.5.0       d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
typing_extensions            4.12.2      d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
urllib3                      2.3.0       d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
Werkzeug                     3.1.3       d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
wheel                        0.45.1      d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip
wrapt                        1.17.2      d:\param\param_programs\python\minicodes\cam\venv\lib\site-packages pip